#btn-expand {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .expanded {
    height: 200px; /* Ajuste conforme necessário */
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: height 0.3s ease-in-out;
  }
  
  .collapsed {
    height: 0;
    overflow: hidden;
  }
  